body{
  margin:  0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}
a {
  text-decoration: none;
}


.App {
  text-align: center;
}

.App-header {
  background-color:black;
  display: flex;
  flex-direction: column;
  color: white;
}

.Top-bar {
  height: 10vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Top-Banner {
  height: 90vh;
  background-image: url('../src/assets/banner-top-mob.jpg');
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.Text-Banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}
.Text-Banner h1,p{
  margin: 2px;
}
.Logo-Img{
  height: 80%;
}
.btnSabia{
  background-color: #960064;
  color: white;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  padding: 15px 40px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
}
.btnSabia:hover{
  background-color: #DA2A9F;
}
.btnSabia:active{
  background-color: #F041B5;
}

.btnSabia-secund{
  background-color: #960064;
  color: white;
  width: 100%;
  cursor: pointer;
  padding: 10px 40px;
  border: 2px solid #2fdada;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 20px;
  display:flex;
  align-items:center;
  justify-content: center
}

.btnSabia:focus{
  outline: none;
}
.btnSabia-secund:hover{
  background-color: #2fdada;
  
}
.btnSabia-secund:active{
  background-color: #4BF7F7;
  
}
.btnSabia-secund:focus{
  outline: none;
}
.Menu-Icons{
  background-color: #960064;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding:25px;
}
.Galeria-Local{
  display:flex;
  flex-direction: column;
  padding: 10% 5%
}
.Plantas-Apto{
  display:flex;
  flex-direction: column;
  padding: 10% 5%
}

.card {
  margin-top: 15px;
}

.FormCliente{
  background-color: #960064;
  color: white;
  padding: 30px;
}

